*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*EDICION DEL ENCABEZADO*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

/*APARTADO IZQUIERDO DEL ENCABEZADO*/
.header-logo{
    display: flex;
    align-items: center;
}

a img{
    width: 60px;

}

.header-logo a{
    margin-right: 10px;
}

h1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/*APARTADO DERECHO DEL ENCABEZADO*/


nav a{
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    font-size: 20px;
}

nav a:hover{
    border-bottom: #3825ca solid 2px;
}

/* DISEÑO DEL CUERPO DE LA PAGINA */


.cuerpo-pagina{
    display: flex;
    width: 700px;
    margin: 50px auto;
    background: rgb(87, 84, 152);
    padding: 20px;
    align-items: center;

}

/* APARTADO DE INFORMACION DE USUARIO H2 Y P */

.informacion{
    text-align: justify;
}

h2{
    color: #fff;
}

.informacion p{
    color: #fff;
    margin-top: 15px;
}


/* APARTADO DE DISEÑO PARA LA IMAGEN DENTRO DE LA INFORMACION */

.imagen-usuario{
    min-width: 180px;
    height: 200px;
    margin: 0 10px 0 50px;
    border-radius: 50%;
    overflow: hidden;
}



.imagen-usuario img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: -10px 0;
    
}


/* LINEA DIVISORA */

hr{
    width: 500px;
    height: 2px;
    margin: auto;
    background: linear-gradient(to right, rgb(214, 212, 212),rgb(60, 6, 106), rgb(10, 16, 100));
    border:  none;
}


















/* MEDIA QRIES PARA RESPONSIVE */

@media screen and (max-width: 750px) {
    header{
        
        display: inline-block;
        display: flex;
        flex-direction: column;
        
    }
    
    nav {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        
    }

    /* EDICION DE INFORMACION DEL MAIN */

    .cuerpo-pagina{
        width: 100%;
        flex-direction: column;
        padding: 0;
        
    }

    .informacion{
        text-align: center;
        padding: 10px;
    }



    .imagen-usuario{
        margin: 10px auto;
        border: #ca2525 1px solid;
        overflow: none;
        
    }

    .imagen-usuario img{
        height: 100%;
        width: 100%;
        object-position: 0 0;   
        object-fit: cover;   
    }

    hr{
        width: 50%;
    }

}