*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

header{
    width: 100%;
    text-align: center;
}

.img-logo{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.img-logo img{
    width: 50px;
}

.enlaces li{
    padding: 10px;
    font-size: 20px;
}

.enlaces a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.enlaces li:hover {
    background: rgb(223, 223, 223);
}
