*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

header{
    width: 100%;
    text-align: center;
}

.img-logo{
    display: inline-block;
    margin: 15px 0 15px 10px;
}

.img-logo img{
    width: 50px;
}

.enlaces li{
    padding: 10px;
    font-size: 20px;
}

.enlaces a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.enlaces li:hover {
    background: rgb(223, 223, 223);
}





/* Edicion del main */



.informacion-principal{
    margin: 20px;
    padding: 10px;
    background: rgba(181, 179, 179, 0.304);
    

}

.imagen-mia{
    text-align: center;
    padding-top: 20px;
    height: 160px;
    margin-bottom: 20px;
}

.informacion-principal img{
    width: 160px;
    border-radius: 50%;
}


.mi-informacion{
    margin: 10px;
    text-align: center;
}


/* EDICION DE BOTON DESCARGAR CV */

.bt-curriculum{
    text-align: center;
    padding: 10px;
}

.bt-curriculum a{
    padding: 10px;
    border: 1.5px solid #000;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.bt-curriculum a:hover{
    background: #3e6d8dbb;
    transition: 0.4s;
}


.container-objetivos{
    padding: 40px;
}

.item-objetivos{
    margin-top: 30px;
}


@media only screen and (min-width: 700px) {
    .informacion-principal{
        display: flex;
        align-items: center;
    }

    .imagen-mia{
        flex-direction: row-reverse;
    }
  }